<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Croatia Bilice Investment</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <!--   <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen"> -->
 <!--   <link href="stylesheets/mystyles.css" rel="stylesheet" media="screen"> -->
    
</head>
<body>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<!--    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script> -->

<div class="container">
  <h1 class="well text-center">Šibenik - Bilice</h1>

<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#location" data-toggle="tab">Location</a></li>
      <li><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#video" data-toggle="tab">Video</a></li>
    </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="location">
    <b>Location:</b> <br>
    <ul>
      <li>Croatia, Middle Dalmatia, Sibenik-Knin County, Bilice</li>
      <li>50km to Split &amp; 60km to Zadar international airports</li>
      <li>4km to main motor way</li>
      <li>3km to town centre of UNESCO World Heritage City Sibenik</li>
      <li>300 meters to town centre Bilice</li>
      <li>Surrounded by national parks: NP Krka, NP Kornati, NP Plitvice</li>
      <li>1800 meters to the beach</li>
      <li>On hillside overlooking the sea</li>
    </ul>
  </div> <!-- div tab pain -->

  <div class="tab-pane" id="description">
    <b>Description:</b>
    <ol>
      <li>The shape is trapezoidal: 260 m long, 60 m wide at the base, 40 m at the top, 24 m height difference.</li>

      <li>In front of the land there are connections to water, electricity and telecommunication systems</li>
      <li>Next to building zone</li>
      <li>The land is parcelled into three floors, two of which have been cleared and flattened</li>
      <li>The land has a perfect position on the hill, so that the view can’t be blocked by other constructions</li>
      <li>A private road leading from the main road to the top of the plot belongs to the land</li>
      <li>Ideal for developing a medical centre, housing complex or tourist facility</li>
      <li>Building permissions and rezoning of the land are issued after obtaining a building permit</li>
    </ol>
    </div> <!-- div tab pain -->

  <div class="tab-pane" id="video">
    <br />
    <iframe width="320" height="180" src="http://www.youtube.com/embed/n6A4PIQ2E0k" frameborder="0" allowfullscreen></iframe>
  </div> <!-- div tab pain -->

</div> <!-- div tab content -->


<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>
</div>

<div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"> <span class="badge">13.187 m²</span> Land Area:</li>
      <li class="list-group-item"><span class="badge">For Sale</span> Type:</li>
      <li class="list-group-item"><span class="badge">1.950.000 €</span>Price:</li>
      <li class="list-group-item"><span class="badge">147 €</span>Price per m²:</li>
    </ul>    
    <hr />
</div> 
</div>
<div class="row">
<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  Send Email
</button>
<br /> <br/>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contact us</h4>
        </div>
        <div class="modal-body">
          You can contact us any time!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
</div>
</div> <!-- div container -->
</div>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/myscript.js"></script> -->
</body>
</html>