body, html{
	color: #333;
	font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.intro-block{
	padding: 100px;
}

.text-muted{
	color: #e9e6df;
	font-weight: 100px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.ftr{
	background-color: #fff;
	padding: 80px 0 60px 0;
}

.tpad {
	padding: 0 0 60px 0;
}
