<!-- carousel -->
 <div class="container-full">
  <div class="intro-block">
    <div class="row">
      <div class="col-xs-4">
       <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img class="img-rounded" src="https://dl.dropboxusercontent.com/u/56526108/landplot/landplot_segment_2.jpg" />
    </div>
    <div class="item">
        <img class="img-rounded" src="https://dl.dropboxusercontent.com/u/56526108/landplot/landplot_segment_3.jpg" />
    </div>
    <div class="item">
        <img class="img-rounded" src="https://dl.dropboxusercontent.com/u/56526108/landplot/Google%20View%20Bosuc.jpg" />
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- LINKED NAV -->
<ol class="carousel-linked-nav pagination">
  <li class="active"><a href="#1">1</a></li>
  <li><a href="#2">2</a></li>
  <li><a href="#3">3</a></li>
</ol>
</div>
<div class="col-xs-4">
</div>
  <div class="col-xs-4">
    <ul class="list-group">
      <li class="list-group-item"> <span class="badge">13.187 m²</span> Land Area:</li>
      <li class="list-group-item"><span class="badge">For Sale</span> Type:</li>
      <li class="list-group-item"><span class="badge">1.950.000 €</span>Price:</li>
      <li class="list-group-item"><span class="badge">147 €</span>Price per m²:</li>
    </ul>    
  </div>
</div> <!-- End row -->
</div> <!-- End intro-block -->
</div> <!-- End container -->

<div class="container tpad">
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#location" data-toggle="tab">Location</a></li>
      <li><a href="#description" data-toggle="tab">Description</a></li>
      <li><a class="youtube" href="http://www.youtube.com/watch?v=n6A4PIQ2E0k" data-toggle="tab">Video</a></li>
    </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="location">
    <br>
    <ul>
      <li>Croatia, Middle Dalmatia, Sibenik-Knin County, Bilice</li>
      <li>50km to Split &amp; 60km to Zadar international airports</li>
      <li>4km to main motor way</li>
      <li>3km to town centre of UNESCO World Heritage City Sibenik</li>
      <li>300 meters to town centre Bilice</li>
      <li>Surrounded by national parks: NP Krka, NP Kornati, NP Plitvice</li>
      <li>1800 meters to the beach</li>
      <li>On hillside overlooking the sea</li>
    </ul>
  </div> 
  <!-- div tab pain -->

  <div class="tab-pane" id="description">
   <br>
    <ul>
      <li>The shape is trapezoidal: 260 m long, 60 m wide at the base, 40 m at the top, 24 m height difference.</li>

      <li>In front of the land there are connections to water, electricity and telecommunication systems</li>
      <li>Next to building zone</li>
      <li>The land is parcelled into three floors, two of which have been cleared and flattened</li>
      <li>The land has a perfect position on the hill, so that the view can’t be blocked by other constructions</li>
      <li>A private road leading from the main road to the top of the plot belongs to the land</li>
      <li>Ideal for developing a medical centre, housing complex or tourist facility</li>
      <li>Building permissions and rezoning of the land are issued after obtaining a building permit</li>
    </ul>
    </div> 

    <!-- div tab pain -->
 <!-- div tab content -->

<script type="text/javascript">
  $(function () {
    $(".youtube").YouTubeModal({autoplay:0, width:640, height:480});
  });


  // invoke the carousel
$('#myCarousel').carousel({
  interval: 3000
});

/* SLIDE ON CLICK */ 

$('.carousel-linked-nav > li > a').click(function() {

    // grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

    // slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

    // remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

    // add active class to just clicked on item
    $(this).parent().addClass('active');

    // don't follow the link
    return false;
});

/* AUTOPLAY NAV HIGHLIGHT */

// bind 'slid' function
$('#myCarousel').bind('slid', function() {

    // remove active class
    $('.carousel-linked-nav .active').removeClass('active');

    // get index of currently active item
    var idx = $('#myCarousel .item.active').index();

    // select currently active item and add active class
    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

});
</script>