<div class="container">
<br>
<br>
<div class="row">
<div class="col-md-6">
<p>Land Area:  13.187 m² </p>
<p>Type:    For Sale </p>
<p>Price:    1.450.000 € </p>
<p>Price per m²:  109,95 € </p>
<br>
<b>Location:</b>
    <ul>
      <li>Croatia, Middle Dalmatia, Sibenik-Knin County, Bilice</li>
      <li>50km to Split &amp; 60km to Zadar international airports</li>
      <li>4km to main motor way</li>
      <li>3km to town centre of UNESCO World Heritage City Sibenik</li>
      <li>300 meters to town centre Bilice</li>
      <li>Surrounded by national parks: NP Krka, NP Kornati, NP Plitvice</li>
      <li>1800 meters to the beach</li>
      <li>On hillside overlooking the sea</li>
    </ul>
<br>
</div> <!-- end col-md-6 --> 
<div class="col-md-6">
  <img src="https://dl.dropboxusercontent.com/u/56526108/landplot/google_view_focused.jpg" class="img-rounded img-responsive">
</div> <!-- end col-md-6 --> 
</div> <!-- end row --> 
<b>Description:</b>
 <br>
  <ul>
    <li>The shape is trapezoidal: 260 m long, 60 m wide at the base, 40 m at the top, 24 m height difference.</li>
    <li>In front of the land there are connections to water, electricity and telecommunication systems</li>
    <li>Next to building zone</li>
    <li>The land is parcelled into three floors, two of which have been cleared and flattened</li>
    <li>The land has a perfect position on the hill, so that the view can’t be blocked by other constructions</li>
    <li>A private road leading from the main road to the top of the plot belongs to the land</li>
    <li>Ideal for developing a medical centre, housing complex or tourist facility</li>
    <li>Building permissions and rezoning of the land are issued after obtaining a building permit</li>
  </ul>
  <br>
  <hr>

  <div class="row">
      <div class="col-md-6">
      <img src="https://dl.dropboxusercontent.com/u/56526108/landplot/Cadastral_Map_Excerpt.JPG" class="img-rounded img-responsive">
      </div> <!-- end col-md-6 --> 
      <div class="col-md-6">
      <p>There is a private road, which belongs to the land, which is leading from the main road right to the top of the  land (parcel 2266/15)</p>
      <p>The land is parcelled into 3 floors, 2 are cleared and flattened (shown in the cadastral map excerpt parcels 2289/1 and 2266/1)</p>
      <p>A wall has been constructed between the land and asphalted road.</p>
      </div> <!-- end col-md-6 --> 
  </div> <!-- end row --> 
 </div> <!-- end container --> 
