<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">Landplot</a>
  </div> <!-- end navbar-header-->

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Market Analysis</a></li>
          <li><a href="#">Advantages of Investing in Land</a></li>
          <li><a href="#">Advantages of Investing in Land in Croatia</a></li>
          <li><a href="#">Tax, Transactions &amp; Legal Costs</a></li>
        </ul>
      </li>
      <li><a href="/about-croatia">Croatia</a></li>
      <li><a data-toggle="modal" data-target="#myModal" href="#myModal">Contact</a></li>
    </ul>
  </div>
</nav>

